.activities-card {
    background-color: #ffffff;
    width: 100%;
    border-radius: var(--card-radius);
    position: relative;
    margin-bottom: 1.5rem;
    transition: filter 500ms ease-in-out;
  }
  .activities-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--card-radius);
    border: var(--color) solid 1px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .activities-card > header {
    position: relative;
    padding: 1.6rem;
    border-radius: var(--card-radius) var(--card-radius) 0 0;
  }
  .activities-card > header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color);
    border-radius: var(--card-radius) var(--card-radius) 0 0;
    opacity: 0.1;
  }
  
  .activities-card > header .icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    aspect-ratio: 1;
    background-color: var(--color);
    border-radius: 0.75rem;
  }
  
  .activities-card > header > .activity-title-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
  
  .activities-card > header > .activity-title-container > p.activity-title {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: left;
  }
  
  .activities-card > header > p.activity-description {
    text-align: left;
    margin-top: 0.75rem;
    opacity: 0.7;
    font-size: 0.85rem;
  }
  
  
  .activities-card > main {
    position: relative;
    padding: 1.6rem ;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .activities-card > main > .activity-subcontent-container {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  
  .activities-card > main .icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .activities-card > main .icon-container:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color);
    border-radius: 50%;
    opacity: 0.15;
  }
  
  .activities-card > main > .activity-subcontent-container > p {
    text-align: left;
    font-size: 0.75rem;
    opacity: 0.8;
  }

  /* .activities-card:has( header[data-focused=false] ) {
    filter: blur(0.5rem);
  } */