p.tag {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color);
    margin-top: 0.5rem;
    padding: 8px 18px;
    border-radius: 1rem;
    position: relative;
  }
  p.tag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color);
    opacity: 0.15;
    border-radius: 1rem;
    z-index: 0;
  }