#root { /* global variables */
  --card-radius: 1.2rem;
} 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  width: min(600px, 100vw);
  /* height: 100%; */
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5.5rem;
  color: #282828;
}
@media only screen and (min-width: 600px) {
  #root {
    max-height: 0;
  }
  #root::after {
    content: '🚫 Not yet available on desktop/landscape.';
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}
/* #root:has(nav.navbar[data-enabled="true"]) {
  touch-action: none;
} */

* {
  box-sizing: border-box;
  margin: 0;
}

p {
  font-size: 0.9rem;
}
p.secondary {
  opacity: 0.75;
}

.blob {
  position : fixed;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.3;
  z-index: -1;
}
.b1 {
  top: -5vh;
  left: -10vw;
  width: 60vw;
  height: 60vh;
  background-color: #3172FE;
}
.b2 {
  top: 20vh;
  right: -12vw;
  width: 45vw;
  height: 50vh;
  background-color: #FB1268;
}
.b3 {
  bottom: -20vh;
  right: -12vw;
  width: 75vw;
  height: 30vh;
  background-color: #00D0FF;
  opacity: 0.4;
}

.b4 {
  top: 60vh;
  left: 10vw;
  width: 45vw;
  height: 50vh;
  background-color: #16CDFF;
}

section {
  margin-bottom: 8rem;
  width: min(calc(100vw - 3.5rem), calc(600px - 3.5rem));
  height: fit-content;
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
}

/* section.hero {
  
} */

.hero-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 3.4rem;
  /* line-height: 1rem; */
  /* background-color: red; */
  margin-top: 1.2rem;
}
.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #282828;
  /* background-color: red; */
  margin-top: 0.5rem;
  text-align: left;
}
.hero-illustration {
  width: calc(100% - 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  /* margin-left: 0.8rem; */
  margin-left: 0.2rem;
}



button {
  border-radius: 5rem;
  border: 1px solid transparent;
  padding: 1rem 1.2rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #ffffff;
}

button.hero-primary {
  width: 100%;
  background-color: #2294FF;
  margin-top: 0.2rem;
}
button.hero-secondary {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.36);
  color: #2294FF;
  outline: #2294FF solid 1px;
  margin-top: 0.6rem;
}
.f-center {
  left: 0;
  right: 0;
  margin-inline: auto;
}

section > .title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2rem;
  /* color: #282828;7 */
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  left: 0;
  right: 0;
  margin-inline: auto;

}

.icon-card {
  position: relative;
  width: 72%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--card-radius);
  padding: 1.2rem 1.5rem;
  margin-bottom: 1rem;
  border: var(--color) solid 1px;
  /* box-shadow: 0 0 2rem -1.2rem var(--line-color); */
}
.icon-card.mission::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #06691F;
  border-radius: var(--card-radius);
  z-index: -1;
  opacity: 0.1;
  transform: translate(1.2rem,0.8rem) rotate(-4deg);
}
.icon-card.vision::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #06691F;
  border-radius: var(--card-radius);
  z-index: -1;
  opacity: 0.1;
  transform: translate(-1rem,0.8rem) rotate(-4deg);
}



.icon-card-icon {
  background-color: var(--color);
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 0.6rem;
  opacity: 0.7;
}

.icon-card-text {
  text-align: left;
}
.icon-card-text > p:nth-child(1) {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.5rem;
  /* color: #282828; */
  margin-bottom: 6px;
}
.icon-card-text > p:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 0.85rem;
  line-height: 1.2rem;
  /* color: #282828; */
  margin-bottom: 0.5rem;
}

.icon-card.mission > .icon-card-text {
  margin-bottom: 2rem;
}
.icon-card.vision {
  margin-top: -3.5rem;
  margin-left: 28%;
}

section > img {
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 95%;
  height: auto;
  margin-block: 0.8rem;
  box-shadow: 0 0 2rem -1.2rem var(--line-color);
}


.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.scrollable-x {
  height: 14rem;
  width: 100vw;
  /* background-color: red; */
  margin-left: -1.75rem;
  padding-inline: 1.75rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.values-navigator {
  display: flex;
  gap: 0.2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.8rem;
  height: 1.6rem;
}
.values-navigator > .text-block {
  display: flex;
  height: 1.2rem;
  aspect-ratio: 1;
  background-color: var(--color);
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  color: #FFFFFF;
  opacity: 0.2;
  transition: 500ms;
}

/* .values-navigator > .text-block:nth-child(1) {
  padding-left: 0.1rem;
  border-radius: 50% 0.2rem 0.2rem 50%;
}

.values-navigator > .text-block:nth-last-child(1) {
  padding-right: 0.1rem;
  border-radius: 0.2rem 50% 50% 0.2rem;
} */


/* .scrollable-x:has(.values-card.block0.visible) + .values-navigator > .text-block.block0,
.scrollable-x:has(.values-card.block1.visible) + .values-navigator > .text-block.block1,
.scrollable-x:has(.values-card.block2.visible) + .values-navigator > .text-block.block2,
.scrollable-x:has(.values-card.block3.visible) + .values-navigator > .text-block.block3,
.scrollable-x:has(.values-card.block4.visible) + .values-navigator > .text-block.block4,
.scrollable-x:has(.values-card.block5.visible) + .values-navigator > .text-block.block5,
.scrollable-x:has(.values-card.block6.visible) + .values-navigator > .text-block.block6,
.scrollable-x:has(.values-card.block7.visible) + .values-navigator > .text-block.block7
 {
  opacity: 1;
  height: 1.4rem;
  border-radius: 0.3rem;
} */

.text-block.focused{
  opacity: 0.99;
  height: 1.6rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}


.from-left {
  opacity: 0;
  transform: scale(0.7) translateX(-50%);
  transition: transform 600ms cubic-bezier(.47,1.64,.1,.9), opacity 600ms 50ms;
}
.from-left.visible {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.from-right {
  opacity: 0;
  transform: scale(0.7) translateX(50%);
  transition: transform 600ms cubic-bezier(.47,1.64,.1,.9), opacity 600ms 50ms;
}
.from-right.visible {
  opacity: 1;
  transform: scale(1) translateX(0);
}



.demo-card {
  background-color: #EFF6FF;
  width: 100%;
  border-radius: var(--card-radius);
  position: relative;
  margin-bottom: 1.5rem;
  padding-inline: 2rem;
  padding-block: 2.5rem;
}
.demo-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--card-radius);
  border: var(--color) solid 1px;
  z-index: 0;
  opacity: 0.5;
}
.demo-title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-top: 1rem;
}
.demo-subtitle {
  opacity: 0.75;
  margin-top: 0.5rem;
}

.demo-card > button {
  background-color: var(--color);
  margin-top: 1.5rem;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.gather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.gather-blocks {
  background-color: var(--color);
  aspect-ratio: 1;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 0.5rem;
  transform: scale(0.8) translateY(-1.6rem);
  opacity: 0;
  transition: all 500ms cubic-bezier(.47,1.64,.1,.9) calc(100ms + var(--delay));
}

.gather-container.visible .gather-blocks {
  transform: scale(1) translateY(0);
  opacity: 1;
}

