.navbar {
  position: fixed;
  width: calc(100vw - 3rem);
  height: 4.2rem;
  border-radius: 2.1rem;
  top: 1.2rem;
  /* left: 50%;
  transform: translate(-50%, 0); */
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 12px rgba(10, 67, 152, 0.12);
  color: #282828;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 2.5rem 1.2rem;
  backdrop-filter: blur(12px);
  z-index: 99;
  transition: all 300ms;
  overflow-y: hidden;
}
.navbar[data-enabled="true"] {
  height: 85vh;
  align-items: flex-start;
  box-shadow: 0 0 0 20rem #ffffff;
  background-color: #ffffff;
  padding-inline: 1rem 0rem;
}

.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.2rem;
  width: 100%;
}
p.nav-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
}
.nav-wordmark {
  width: 9rem;
  height: 100%;
  background: url("../../assets/images/togather-wordmark.svg") no-repeat center;
  background-size: contain;
  background-position-x: 0;
  margin-left: -0.5rem;
  /* background-color: red; */
}
.nav-menu {
  position: relative;
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
}
.nav-open-icon,
.nav-close-icon {
  position: absolute;
  transition: all 300ms;
}
.nav-close-icon {
  transform: rotate(0deg);
}
.navbar[data-enabled="true"] .nav-open-icon {
  opacity: 0;
  transform: scale(0.5);
}
.navbar[data-enabled="false"] .nav-close-icon {
  opacity: 0;
  transform: scale(0.5);
}

.nav-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  margin-left: -0.5rem;
  margin-top: 0.8rem;
}

nav.navbar .extra-actions {
  /* background-color: red; */
  padding-top: 1rem;
  width: 100%;
  display: flex;
  margin-top: 2rem;
  border-top: #28282818 1px solid;
}
nav.navbar button {
  font-size: 0.9rem;
  padding-block: 1rem;
  background-color: transparent;
  width: 100%;
  border-radius: 2rem;
  border: #2294FF 1px solid;
  color: #2294FF;
}





@media only screen and (min-width: 860px) {
  nav.navbar .extra-actions {
    /* background-color: red; */
    padding-top: 0;
    width: unset;
    display: flex;
    margin-top: 0rem;
    border-top: unset;
  }
  nav.navbar button {
    font-size: 0.8rem;
    padding-block: 0.7rem;
    background-color: #2294FF;
    color: #ffffff;
    width: unset;
    border-radius: 2rem;
  }

  .navbar {
    width: calc(100% - min(18vw, 18rem));
    height: 4.2rem;
    border-radius: 2.4rem;
    top: 1.6rem;
    /* left: 50%;
    transform: translate(-50%, 0); */
    left: 0;
    right: 0;
    margin-inline: auto;
    box-shadow: 0 0 12px rgba(10, 67, 152, 0.12);
    color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2.5rem 1.2rem;
    backdrop-filter: blur(12px);
    z-index: 99;
    transition: all 300ms;
    overflow-y: hidden;
    gap: 1rem;
  }
  .navbar[data-enabled="true"] {
    height: 4.2rem;
    align-items: center;
    box-shadow: 0 0 12px rgba(10, 67, 152, 0.12);
    background-color: rgba(255, 255, 255, 0.75);
    padding-inline: 2.5rem 1.2rem;
  }
  
  .nav-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4.8rem;
    width: unset;
  }
  p.nav-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
  }
  .nav-wordmark {
    width: 8rem;
    height: 4rem;
    background: url("../../assets/images/togather-wordmark.svg") no-repeat center;
    background-size: contain;
    background-position-x: 0;
    margin-left: unset;
  }
  .nav-menu {
    display: none;
  }
  .nav-open-icon,
  .nav-close-icon {
    position: absolute;
    transition: all 300ms;
  }
  .nav-close-icon {
    transform: rotate(0deg);
  }
  .navbar[data-enabled="true"] .nav-open-icon {
    opacity: 0;
    transform: scale(0.5);
  }
  .navbar[data-enabled="false"] .nav-close-icon {
    opacity: 0;
    transform: scale(0.5);
  }
  
  .nav-items {
    width: unset;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-left: unset;
    margin-top: unset;
    /* background-color: rgba(255, 133, 133, 0.12); */
    padding-inline: 2rem;
  }

  
}



@media only screen and (min-width: 1600px) {
  .navbar {
    width: calc(100% - min(40vw, 40rem));
  }
  .nav-items {
    width: unset;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin-left: unset;
    margin-top: unset;
    /* background-color: rgba(255, 133, 133, 0.12); */
    padding-inline: 0.5rem;
  }

}